#buttons {
	width:618px;
	margin:0 auto;
	position:relative;
}
	#slideshow #slidesContainer {
		margin:0 auto;
		width:540px;
		height:263px;
		overflow:auto;
		position:relative;
		background:blue;
	}

	#slideshow #slidesContainer .slide {
		margin:0 auto;
		width:540px;
		height:263px;
	}

	/* Slideshow controls */
	.control {
		display:block;
		width:39px;
		height:263px;
		text-indent:-1000em;
		position:absolute;
		cursor:pointer;
	}
	#leftControl {
		top:75px;
		left:0;
		background:transparent url('images/tab.png') no-repeat 0 0;
	}
	#rightControl {
		top:75px;
		right:0;
		background:transparent url('images/tab.png') no-repeat 0 0;
	}

	.slide img {
		width:540px;
	}