* {
	margin:0;
	padding:0;
	border:none;
}

div.leftmenu {
	background:#f0f0f0;
	clear:both;
	position:absolute;
	float:left;
	width:100%;
	height:100%;
	display:block;
}

/******
 * Main image block
 ******/
div#main_image {
	/*width:598px;*/
	/*height:456px;*/
	float:left;
	background:#333;
	position:relative;
	left:300px;
	overflow:hidden; /*overflow hidden allows the description to toggle/tuck away as it slides down*/
	color:#fff;
}
div#main_image h2 {
	font-size:1em;
	font-weight:normal;
	margin:0;
	padding:10px;
}
div#main_image p {
	font-size:0.7em;
	line-height:1.6em;
	padding:10px;
	margin:0;
}
div.block small {
	font-size:0.8em;
	padding:0 0 0 20px;
	/*background:url('icon_calendar.gif') no-repeat 0 center;*/
}
div#main_image .block small {
	margin-left:10px;
}
div#main_image .desc {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	display:none;
}
div#main_image .block {
	width:100%;
	background:#111;
	border-top:1px solid #000;
}
div#main_image a.collapse {
	/*background:url('btn_collapse.gif') no-repeat left top;*/
	/*height:27px;*/
	/*width:93px;*/
	/*text-indent:-999em;*/
	position:absolute;
	top:-20px;
	right:10px;
	color:#f0f0f0;
	text-decoration:none;
}
div#main_image a.show {
	background-position:left bottom;
}

/******
 * List of image thumbnails
 ******/
div.image_thumb {
	float:left;
	position:relative;
	left:-600px;
	width:299px;
	background:#f0f0f0;
	border-right:1px solid #fff;
	/*border-top:1px solid #ccc;*/
}
div.image_thumb img {
	border:1px solid #ccc;
	padding:5px;
	background:#fff;
	float:left;
}
div.image_thumb ul {
	margin:0;
	padding:0;
	list-style:none;
}
div.image_thumb ul li#top {
	border-top:none !important;
}
div.image_thumb ul li {
	margin:0;
	padding:12px 10px;
	background:#f0f0f0;
	/*background: url('nav_a.gif') repeat-x;*/
	width:279px;
	float:left;
	border-bottom:1px solid #ccc;
	border-top:1px solid #fff;
	border-right:1px solid #ccc;
}
div.image_thumb ul li.hover {
	background:#ddd;
	cursor:pointer;
}
div.image_thumb ul li.active {
	background:#fff;
	cursor:default;
}
div.image_thumb ul li .block {
	float:left;
	margin-left:5px;
}
div.image_thumb ul li h2 {
	font-size:1.5em;
	margin:5px 0;
	padding:0;
}
div.image_thumb ul li.block {
	float:left;
	margin-left:10px;
	padding:0;
	width:170px;
}
div.image_thumb ul li p {
	display:none;
}
